<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_Che-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_Ef-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-75</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_che-cy</key>
		<integer>-39</integer>
		<key>@MMK_R_che-cy.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_quote</key>
		<integer>-60</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Ef-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Zhe-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-27</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-45</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_Ef-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_quote</key>
		<integer>-50</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Zhe-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-40</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-60</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>-50</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_Ef-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_a.sc.ss03</key>
		<integer>-30</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-30</integer>
		<key>@MMK_R_che-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_che-cy.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_dash</key>
		<integer>-60</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-90</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-40</integer>
		<key>@MMK_R_quote</key>
		<integer>30</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_zhe-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_zhe-cy.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_Ef-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-102</integer>
		<key>@MMK_R_a.sc.ss03</key>
		<integer>-30</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-110</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-120</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-65</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_i</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-65</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-50</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_zhe-cy</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_Ef-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_Ef-cy</key>
		<integer>-65</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_a.sc.ss03</key>
		<integer>-40</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-65</integer>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-110</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-100</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-130</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-75</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-95</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-60</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_zhe-cy</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_elBGR</key>
		<integer>10</integer>
		<key>@MMK_R_quote</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_a.sc</key>
	<dict>
		<key>@MMK_R_che-cy.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_quote</key>
		<integer>-70</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-2</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_c.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_caccent</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_Ef-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_X</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>50</integer>
		<key>@MMK_R_five</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>0</integer>
		<key>@MMK_R_quote</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_dash</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_de-cy</key>
	<dict>
		<key>@MMK_R_de-cy</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_e.sc.ss03</key>
	<dict>
		<key>@MMK_R_a.sc.ss03</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_elBGR</key>
	<dict>
		<key>@MMK_R_che-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_de-cy</key>
		<integer>20</integer>
		<key>@MMK_R_elBGR</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_quote</key>
		<integer>-40</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>ii-cy.ss02</key>
		<integer>-10</integer>
		<key>iishort-cy.ss02</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_em-cy</key>
	<dict>
		<key>@MMK_R_te-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_f.short</key>
	<dict>
		<key>@MMK_R_vaccent</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_fraction</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_j</key>
		<integer>15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_vaccent</key>
		<integer>40</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ge-cy</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-15</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_idieresis</key>
	<dict>
		<key>@MMK_R_idieresis</key>
		<integer>40</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_k.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_quote</key>
		<integer>-25</integer>
		<key>literSign</key>
		<integer>-10</integer>
		<key>ve-cy.ss10</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_nine.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>-20</integer>
		<key>@MMK_R_zhe-cy</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_o.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_zhe-cy.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_p.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_question</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_quote</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-40</integer>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_quote</key>
		<integer>50</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t.sc</key>
		<integer>20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_r.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_quote</key>
		<integer>-40</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_softsign-cy</key>
	<dict>
		<key>@MMK_R_che-cy.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_te-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_t.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_u.sc.ss02</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_elBGR</key>
		<integer>-45</integer>
		<key>@MMK_R_em-cy</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_vaccent</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_v.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_a.sc.ss03</key>
		<integer>-15</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>20</integer>
		<key>@MMK_R_y.sc</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_vaccent</key>
	<dict>
		<key>@MMK_R_elBGR</key>
		<integer>-40</integer>
		<key>@MMK_R_quote</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_vaccent</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_y.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_de-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_quote</key>
		<integer>40</integer>
		<key>@MMK_R_v.sc</key>
		<integer>15</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
