<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Aogonek_acutecomb.liga</string>
		<string>Aacute.loclHUN</string>
		<string>Aacute.ss13</string>
		<string>Acaron.ss13</string>
		<string>Acircumflex.ss13</string>
		<string>Acircumflexdotbelow.ss13</string>
		<string>Agrave.ss13</string>
		<string>Aogonek_acutecomb.liga.ss13</string>
		<string>Aacute.loclHUN.ss13</string>
		<string>Delta</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Cacute.loclPLK</string>
		<string>Cacute.ss13</string>
		<string>Ccaron.ss13</string>
		<string>Ccircumflex.ss13</string>
		<string>Cacute.loclPLK.ss13</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>F.short</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>J_acutecomb.liga</string>
		<string>J.loclNLD</string>
		<string>J_acutecomb.liga.ss13</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kacute</string>
		<string>Kcaron</string>
		<string>Kcommaaccent</string>
		<string>Kacute.ss13</string>
		<string>Kcaron.ss13</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>Lslash</string>
		<string>Lacute.ss13</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>Schwa</string>
		<string>Q.cv01</string>
		<string>Q.cv02</string>
		<string>Q.cv03</string>
		<string>Q.cv04</string>
		<string>Oogonek_acutecomb.liga</string>
		<string>Oacute.loclHUN</string>
		<string>Oacute.loclPLK</string>
		<string>Q.long</string>
		<string>Q.long.ss01</string>
		<string>Q.long.ss03</string>
		<string>Odieresis.ss04</string>
		<string>Q.long.ss08</string>
		<string>Dcaron.ss13</string>
		<string>Oacute.ss13</string>
		<string>Ocaron.ss13</string>
		<string>Ocircumflex.ss13</string>
		<string>Ocircumflexdotbelow.ss13</string>
		<string>Ograve.ss13</string>
		<string>Ohornacute.ss13</string>
		<string>Ohorngrave.ss13</string>
		<string>Ohungarumlaut.ss13</string>
		<string>Oslashacute.ss13</string>
		<string>Oogonek_acutecomb.liga.ss13</string>
		<string>Oacute.loclHUN.ss13</string>
		<string>Oacute.loclPLK.ss13</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>Rdotbelow.short</string>
		<string>Rdotbelowmacron.short</string>
		<string>Rlinebelow.short</string>
		<string>Racute.ss13</string>
		<string>Rcaron.ss13</string>
	</array>
	<key>@MMK_L_R.short</key>
	<array>
		<string>R.short</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>Tcaron.ss13</string>
		<string>T_T.liga</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>IJ</string>
		<string>IJ_acutecomb.liga</string>
		<string>Uacute.ss13</string>
		<string>Ucaron.ss13</string>
		<string>Ucircumflex.ss13</string>
		<string>Ugrave.ss13</string>
		<string>Uhungarumlaut.ss13</string>
		<string>IJ_acutecomb.liga.ss13</string>
		<string>Uacute.loclHUN.ss13</string>
		<string>Iacute_J_acutecomb</string>
		<string>Iacute_J.dlig</string>
		<string>I_J.loclNLD.dlig</string>
		<string>Iacute_J_acutecomb.ss13</string>
		<string>Iacute_J.dlig.ss13</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wacute.ss13</string>
		<string>Wcircumflex.ss13</string>
		<string>Wgrave.ss13</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ycircumflex.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Ydotaccent.ss01</string>
		<string>Ydotbelow.ss01</string>
		<string>Ygrave.ss01</string>
		<string>Yhookabove.ss01</string>
		<string>Ymacron.ss01</string>
		<string>Ytilde.ss01</string>
		<string>Yacute.ss13</string>
		<string>Ycircumflex.ss13</string>
		<string>Ygrave.ss13</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>adotbelow</string>
		<string>alpha-latin</string>
		<string>aogonek</string>
		<string>u</string>
		<string>uogonek</string>
		<string>a.ss07</string>
		<string>adotbelow.ss07</string>
		<string>aogonek.ss07</string>
		<string>g_u.ss02</string>
		<string>g_uacute.ss02</string>
		<string>g_ubreve.ss02</string>
		<string>g_ucaron.ss02</string>
		<string>g_ucircumflex.ss02</string>
		<string>g_udieresis.ss02</string>
		<string>g_udieresisacute.ss02</string>
		<string>g_udieresiscaron.ss02</string>
		<string>g_udieresisgrave.ss02</string>
		<string>g_udieresismacron.ss02</string>
		<string>g_ugrave.ss02</string>
		<string>g_uhungarumlaut.ss02</string>
		<string>g_umacron.ss02</string>
		<string>g_uogonek.ss02</string>
		<string>g_uring.ss02</string>
		<string>g_utilde.ss02</string>
		<string>mu</string>
	</array>
	<key>@MMK_L_aaccent</key>
	<array>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uring</string>
		<string>utilde</string>
		<string>aogonek_acutecomb.liga</string>
		<string>aacute.loclHUN</string>
		<string>uacute.loclHUN</string>
		<string>adieresis.ss04</string>
		<string>udieresis.ss04</string>
		<string>aacute.ss07</string>
		<string>abreve.ss07</string>
		<string>abreveacute.ss07</string>
		<string>abrevedotbelow.ss07</string>
		<string>abrevegrave.ss07</string>
		<string>abrevehookabove.ss07</string>
		<string>abrevetilde.ss07</string>
		<string>acaron.ss07</string>
		<string>acircumflex.ss07</string>
		<string>acircumflexacute.ss07</string>
		<string>acircumflexdotbelow.ss07</string>
		<string>acircumflexgrave.ss07</string>
		<string>acircumflexhookabove.ss07</string>
		<string>acircumflextilde.ss07</string>
		<string>adieresis.ss07</string>
		<string>agrave.ss07</string>
		<string>ahookabove.ss07</string>
		<string>amacron.ss07</string>
		<string>aring.ss07</string>
		<string>aringacute.ss07</string>
		<string>atilde.ss07</string>
		<string>aogonek_acutecomb.liga.ss07</string>
		<string>aacute.loclHUN.ss07</string>
		<string>aacute.loclHUN.ss13</string>
		<string>aacute.loclHUN.ss07.ss13</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>aemacron</string>
		<string>c</string>
		<string>e</string>
		<string>edotbelow</string>
		<string>oe</string>
		<string>e.finalswash</string>
	</array>
	<key>@MMK_L_caccent</key>
	<array>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>eogonek_acutecomb.liga</string>
		<string>eacute.loclHUN</string>
		<string>eacute.loclHUN.ss13</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>underscore</string>
		<string>period.tf</string>
		<string>period.tosf</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_dash</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>periodcentered.case</string>
		<string>bullet.case</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>horizontalbar</string>
		<string>hyphen</string>
		<string>emdash.case</string>
		<string>endash.case</string>
		<string>hyphen.case</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemetleft.case</string>
		<string>guillemetright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>asciitilde</string>
		<string>asciitilde.case</string>
		<string>whiteBullet</string>
		<string>whiteBullet.case</string>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f.cv05</string>
		<string>f.short</string>
		<string>f_f.liga</string>
		<string>f_f.short.liga</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcaron.ss02</string>
		<string>gcircumflex.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>gmacron.ss02</string>
		<string>g_g.liga.ss02</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gsingle</string>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>g_j</string>
		<string>i_j.loclNLD.dlig</string>
		<string>g_g.liga</string>
		<string>g_y.liga</string>
		<string>g_yacute.liga</string>
		<string>g_ycircumflex.liga</string>
		<string>g_ydieresis.liga</string>
		<string>g_ygrave.liga</string>
		<string>g_ymacron.liga</string>
		<string>g_ytilde.liga</string>
		<string>g_j.ss02</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>kgreenlandic</string>
		<string>tz</string>
		<string>t_z.hlig</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
		<string>ldotbelow.clipped</string>
		<string>ldotbelowmacron.clipped</string>
		<string>llinebelow.clipped</string>
	</array>
	<key>@MMK_L_longs</key>
	<array>
		<string>longs</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>h.clipped</string>
		<string>hbar.clipped</string>
		<string>hbrevebelow.clipped</string>
		<string>hcircumflex.clipped</string>
		<string>hdotbelow.clipped</string>
		<string>T_h.liga</string>
		<string>f_f_h.liga</string>
		<string>f_h.liga</string>
		<string>longs_h.liga</string>
		<string>longs_longs_h.liga</string>
	</array>
	<key>@MMK_L_nine.lf</key>
	<array>
		<string>nine.lf</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>schwa</string>
		<string>o</string>
		<string>odotbelow</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>p</string>
		<string>thorn</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>b.clipped</string>
		<string>thorn.clipped</string>
		<string>s_p</string>
		<string>f_b.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_thorn.liga</string>
		<string>f_thorn.liga</string>
		<string>longs_b.liga</string>
		<string>longs_thorn.liga</string>
		<string>longs_longs_b.liga</string>
		<string>longs_longs_thorn.liga</string>
		<string>zero</string>
	</array>
	<key>@MMK_L_oaccent</key>
	<array>
		<string>eth</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oogonek_acutecomb.liga</string>
		<string>oacute.loclHUN</string>
		<string>odieresis.ss04</string>
		<string>oacute.loclHUN.ss13</string>
		<string>ohungarumlaut.ss13</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_quote</key>
	<array>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>quoteleft.case</string>
		<string>quoteright.case</string>
		<string>minute</string>
		<string>second</string>
		<string>minute.tf</string>
		<string>second.tf</string>
		<string>minute.tosf</string>
		<string>second.tosf</string>
		<string>apostrophemod</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rlinebelow</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
		<string>seven.lf</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>ydotaccent.ss02</string>
		<string>ydotbelow.ss02</string>
	</array>
	<key>@MMK_L_vaccent</key>
	<array>
		<string>yhookabove.ss02</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y.ss02</string>
		<string>g_y.liga.ss02</string>
	</array>
	<key>@MMK_L_yaccent</key>
	<array>
		<string>yacute.ss02</string>
		<string>ycircumflex.ss02</string>
		<string>ydieresis.ss02</string>
		<string>ygrave.ss02</string>
		<string>ymacron.ss02</string>
		<string>ytilde.ss02</string>
		<string>g_yacute.liga.ss02</string>
		<string>g_ycircumflex.liga.ss02</string>
		<string>g_ydieresis.liga.ss02</string>
		<string>g_ygrave.liga.ss02</string>
		<string>g_ymacron.liga.ss02</string>
		<string>g_ytilde.liga.ss02</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>AEmacron</string>
		<string>Aogonek_acutecomb.liga</string>
		<string>Aacute.loclHUN</string>
		<string>Adieresis.ss04</string>
		<string>Aacute.ss13</string>
		<string>Acaron.ss13</string>
		<string>Acircumflex.ss13</string>
		<string>Acircumflexdotbelow.ss13</string>
		<string>Agrave.ss13</string>
		<string>AEacute.ss13</string>
		<string>Aogonek_acutecomb.liga.ss13</string>
		<string>Aacute.loclHUN.ss13</string>
		<string>Delta</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>Q.cv01</string>
		<string>Q.cv02</string>
		<string>Q.cv03</string>
		<string>Q.cv04</string>
		<string>Oogonek_acutecomb.liga</string>
		<string>Oacute.loclHUN</string>
		<string>Cacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>Q.long</string>
		<string>Q.long.ss01</string>
		<string>Q.long.ss03</string>
		<string>Odieresis.ss04</string>
		<string>Q.long.ss08</string>
		<string>Cacute.ss13</string>
		<string>Ccaron.ss13</string>
		<string>Ccircumflex.ss13</string>
		<string>Gcaron.ss13</string>
		<string>Gcircumflex.ss13</string>
		<string>Oacute.ss13</string>
		<string>Ocaron.ss13</string>
		<string>Ocircumflex.ss13</string>
		<string>Ocircumflexdotbelow.ss13</string>
		<string>Ograve.ss13</string>
		<string>Ohornacute.ss13</string>
		<string>Ohorngrave.ss13</string>
		<string>Ohungarumlaut.ss13</string>
		<string>Oslashacute.ss13</string>
		<string>Oogonek_acutecomb.liga.ss13</string>
		<string>Oacute.loclHUN.ss13</string>
		<string>Cacute.loclPLK.ss13</string>
		<string>Oacute.loclPLK.ss13</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Sacute.ss13</string>
		<string>Scaron.ss13</string>
		<string>Scircumflex.ss13</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>Tcaron.ss13</string>
		<string>T_T.liga</string>
		<string>T_h.liga</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>IJ</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>IJ_acutecomb.liga</string>
		<string>Uacute.loclHUN</string>
		<string>Udieresis.ss04</string>
		<string>Uacute.ss13</string>
		<string>Ucaron.ss13</string>
		<string>Ucircumflex.ss13</string>
		<string>Ugrave.ss13</string>
		<string>Uhorngrave.ss13</string>
		<string>Uhungarumlaut.ss13</string>
		<string>IJ_acutecomb.liga.ss13</string>
		<string>Uacute.loclHUN.ss13</string>
		<string>Iacute_J_acutecomb</string>
		<string>Iacute_J.dlig</string>
		<string>I_J.loclNLD.dlig</string>
		<string>Iacute_J_acutecomb.ss13</string>
		<string>Iacute_J.dlig.ss13</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wacute.ss13</string>
		<string>Wcircumflex.ss13</string>
		<string>Wgrave.ss13</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Y.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ycircumflex.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Ydotaccent.ss01</string>
		<string>Ydotbelow.ss01</string>
		<string>Ygrave.ss01</string>
		<string>Yhookabove.ss01</string>
		<string>Ymacron.ss01</string>
		<string>Ytilde.ss01</string>
		<string>Yacute.ss13</string>
		<string>Ycircumflex.ss13</string>
		<string>Ygrave.ss13</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Zdotbelow</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>adotbelow</string>
		<string>alpha-latin</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>aemacron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>g</string>
		<string>gsingle</string>
		<string>q</string>
		<string>g_j</string>
		<string>g_u</string>
		<string>g_uacute</string>
		<string>g_ubreve</string>
		<string>g_ucaron</string>
		<string>g_ucircumflex</string>
		<string>g_udieresis</string>
		<string>g_udieresisacute</string>
		<string>g_udieresiscaron</string>
		<string>g_udieresisgrave</string>
		<string>g_udieresismacron</string>
		<string>g_ugrave</string>
		<string>g_uhungarumlaut</string>
		<string>g_umacron</string>
		<string>g_uogonek</string>
		<string>g_uring</string>
		<string>g_utilde</string>
		<string>g_g.liga</string>
		<string>g_yacute.liga</string>
	</array>
	<key>@MMK_R_aaccent</key>
	<array>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>aogonek_acutecomb.liga</string>
		<string>aacute.loclHUN</string>
		<string>adieresis.ss04</string>
		<string>aogonek_acutecomb.liga.ss07</string>
		<string>aacute.loclHUN.ss13</string>
		<string>gbreve_u</string>
		<string>gbreve_udieresis</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
		<string>colon.tf</string>
		<string>colon.tosf</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>underscore</string>
		<string>period.tf</string>
		<string>period.tosf</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_dash</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>periodcentered.case</string>
		<string>bullet.case</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>horizontalbar</string>
		<string>hyphen</string>
		<string>emdash.case</string>
		<string>endash.case</string>
		<string>hyphen.case</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemetleft.case</string>
		<string>guillemetright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>asciitilde</string>
		<string>asciitilde.case</string>
		<string>whiteBullet</string>
		<string>whiteBullet.case</string>
		<string>leftWhiteIndex</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f.a</string>
		<string>f.cv05</string>
		<string>f.short</string>
		<string>f.a.ss07</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f.a.liga</string>
		<string>f_f_t.a.liga</string>
		<string>f_t.a.liga</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_l.liga</string>
		<string>f_f_thorn.liga</string>
		<string>f_f_t.liga</string>
		<string>f_h.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>f_thorn.liga</string>
		<string>f_t.liga</string>
		<string>f_f.short.liga</string>
		<string>f_f.a.liga.ss07</string>
		<string>f_f_t.a.liga.ss07</string>
		<string>f_t.a.liga.ss07</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcaron.ss02</string>
		<string>gcircumflex.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>gmacron.ss02</string>
		<string>g_y.liga</string>
		<string>g_ycircumflex.liga</string>
		<string>g_ydieresis.liga</string>
		<string>g_ygrave.liga</string>
		<string>g_ymacron.liga</string>
		<string>g_ytilde.liga</string>
		<string>g_j.ss02</string>
		<string>g_u.ss02</string>
		<string>g_uacute.ss02</string>
		<string>g_ubreve.ss02</string>
		<string>g_ucaron.ss02</string>
		<string>g_ucircumflex.ss02</string>
		<string>g_udieresis.ss02</string>
		<string>g_udieresisacute.ss02</string>
		<string>g_udieresiscaron.ss02</string>
		<string>g_udieresisgrave.ss02</string>
		<string>g_udieresismacron.ss02</string>
		<string>g_ugrave.ss02</string>
		<string>g_uhungarumlaut.ss02</string>
		<string>g_umacron.ss02</string>
		<string>g_uogonek.ss02</string>
		<string>g_uring.ss02</string>
		<string>g_utilde.ss02</string>
		<string>g_g.liga.ss02</string>
		<string>g_y.liga.ss02</string>
		<string>g_yacute.liga.ss02</string>
		<string>g_ycircumflex.liga.ss02</string>
		<string>g_ydieresis.liga.ss02</string>
		<string>g_ygrave.liga.ss02</string>
		<string>g_ymacron.liga.ss02</string>
		<string>g_ytilde.liga.ss02</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>iacute.loclHUN</string>
		<string>iacute.loclHUN.ss13</string>
	</array>
	<key>@MMK_R_idiersis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>j.loclNLD</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>k</string>
		<string>kacute</string>
		<string>kcaron</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
		<string>lslash</string>
		<string>thorn</string>
		<string>b.clipped</string>
		<string>h.clipped</string>
		<string>hbar.clipped</string>
		<string>hbrevebelow.clipped</string>
		<string>hcircumflex.clipped</string>
		<string>hdotbelow.clipped</string>
		<string>k.clipped</string>
		<string>kacute.clipped</string>
		<string>kcaron.clipped</string>
		<string>kcommaaccent.clipped</string>
		<string>l.clipped</string>
		<string>lacute.clipped</string>
		<string>lcaron.clipped</string>
		<string>lcommaaccent.clipped</string>
		<string>ldot.clipped</string>
		<string>ldotbelow.clipped</string>
		<string>ldotbelowmacron.clipped</string>
		<string>llinebelow.clipped</string>
		<string>lslash.clipped</string>
		<string>thorn.clipped</string>
	</array>
	<key>@MMK_R_longs</key>
	<array>
		<string>germandbls</string>
		<string>longs</string>
		<string>longs_t</string>
		<string>longs_b.liga</string>
		<string>longs_h.liga</string>
		<string>longs_i.liga</string>
		<string>longs_j.liga</string>
		<string>longs_l.liga</string>
		<string>longs_thorn.liga</string>
		<string>longs_longs.liga</string>
		<string>longs_longs_b.liga</string>
		<string>longs_longs_h.liga</string>
		<string>longs_longs_i.liga</string>
		<string>longs_longs_j.liga</string>
		<string>longs_longs_k.liga</string>
		<string>longs_longs_l.liga</string>
		<string>longs_longs_thorn.liga</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>idotless</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nlinebelow</string>
		<string>r</string>
		<string>rdotbelow</string>
		<string>rlinebelow</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>tz</string>
		<string>u</string>
		<string>udotbelow</string>
		<string>uhorn</string>
		<string>uhorndotbelow</string>
		<string>uogonek</string>
		<string>x</string>
		<string>y</string>
		<string>ydotbelow</string>
		<string>z</string>
		<string>zdotbelow</string>
		<string>r_t</string>
		<string>t_z.hlig</string>
		<string>mu</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>e</string>
		<string>edotbelow</string>
		<string>o</string>
		<string>odotbelow</string>
		<string>ohorn</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oe</string>
		<string>a.ss07</string>
		<string>adotbelow.ss07</string>
		<string>aogonek.ss07</string>
		<string>e.finalswash</string>
		<string>c_t</string>
		<string>zero</string>
	</array>
	<key>@MMK_R_oaccent</key>
	<array>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>eogonek_acutecomb.liga</string>
		<string>oogonek_acutecomb.liga</string>
		<string>eacute.loclHUN</string>
		<string>oacute.loclHUN</string>
		<string>odieresis.ss04</string>
		<string>aacute.ss07</string>
		<string>abreve.ss07</string>
		<string>abreveacute.ss07</string>
		<string>abrevedotbelow.ss07</string>
		<string>abrevegrave.ss07</string>
		<string>abrevehookabove.ss07</string>
		<string>abrevetilde.ss07</string>
		<string>acaron.ss07</string>
		<string>acircumflex.ss07</string>
		<string>acircumflexacute.ss07</string>
		<string>acircumflexdotbelow.ss07</string>
		<string>acircumflexgrave.ss07</string>
		<string>acircumflexhookabove.ss07</string>
		<string>acircumflextilde.ss07</string>
		<string>adieresis.ss07</string>
		<string>agrave.ss07</string>
		<string>ahookabove.ss07</string>
		<string>amacron.ss07</string>
		<string>aring.ss07</string>
		<string>aringacute.ss07</string>
		<string>atilde.ss07</string>
		<string>aacute.loclHUN.ss07</string>
		<string>eacute.loclHUN.ss13</string>
		<string>oacute.loclHUN.ss13</string>
		<string>ohungarumlaut.ss13</string>
		<string>aacute.loclHUN.ss07.ss13</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_quote</key>
	<array>
		<string>nmod</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>quoteleft.case</string>
		<string>quoteright.case</string>
		<string>minute</string>
		<string>second</string>
		<string>minute.tf</string>
		<string>second.tf</string>
		<string>minute.tosf</string>
		<string>second.tosf</string>
		<string>apostrophemod</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>s_p</string>
		<string>s_t</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>ydotaccent.ss02</string>
		<string>ydotbelow.ss02</string>
	</array>
	<key>@MMK_R_vaccent</key>
	<array>
		<string>yhookabove.ss02</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y.ss02</string>
	</array>
	<key>@MMK_R_yaccent</key>
	<array>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>yacute.ss02</string>
		<string>ycircumflex.ss02</string>
		<string>ydieresis.ss02</string>
		<string>ygrave.ss02</string>
		<string>ymacron.ss02</string>
		<string>ytilde.ss02</string>
	</array>
</dict>
</plist>
