<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_Che-cy</key>
		<integer>-55</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-65</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-10</integer>
		<key>@MMK_R_quote</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-45</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_Ze-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-40</integer>
		<key>@MMK_R_che-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Ze-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_Zhe-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-30</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_dash</key>
		<integer>-60</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_ia-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-40</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_quote</key>
		<integer>30</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_U.ss02</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_De-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-10</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_g</key>
		<integer>-65</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_ampersand</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-65</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-30</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-65</integer>
		<key>@MMK_R_dash</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-115</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_ia-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-45</integer>
		<key>@MMK_R_quote</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-65</integer>
		<key>@MMK_R_vaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_aaccent</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_dash</key>
		<integer>-20</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_caccent</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>60</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_five</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_quote</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_yaccent</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_dash</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_fraction</key>
	<dict>
		<key>@MMK_R_four.dnom</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>20</integer>
		<key>@MMK_R_j</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>15</integer>
		<key>@MMK_R_yaccent</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_gheupturn-cy</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_idieresis</key>
	<dict>
		<key>@MMK_R_idieresis</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-5</integer>
		<key>@MMK_R_o</key>
		<integer>5</integer>
		<key>@MMK_R_quote</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_nine.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_ia-cy</key>
		<integer>0</integer>
		<key>@MMK_R_quote</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_oaccent</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_question</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_quote</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-50</integer>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_l</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_quote</key>
		<integer>40</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_oaccent</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quote</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_softsign-cy</key>
	<dict>
		<key>@MMK_R_che-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-10</integer>
		<key>@MMK_R_ia-cy</key>
		<integer>-5</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_quote</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_el-cy</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_vaccent</key>
	<dict>
		<key>@MMK_R_el-cy</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_aaccent</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_yaccent</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
